
@{
    ViewBag.Title = "Create";
}

<nav class="navbar">
    <ol class="nav">
        <li class=""
    </ol>
</nav>
<form id="form">
    <a href=("") class="btn btn-primary">Personal Details</a>
    <a href=("") class="btn btn-primary">Product Details </a>
    <a href=("") class="btn btn-primary">Bill Attribute</a>
    <div 
</form>

